# Explore the data

### Data Import

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

from scipy import stats

import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_excel('regression_data.xls')
zipcode = pd.read_excel('geo-data.xls')
data.shape

(21597, 21)

In [3]:
data.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,7129300520,2014-10-13,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900
1,6414100192,2014-12-09,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000
2,5631500400,2015-02-25,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000
3,2487200875,2014-12-09,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000
4,1954400510,2015-02-18,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000

In [5]:
data.columns

Index(['id', 'date', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15', 'price'],
      dtype='object')

In [11]:
# convert dtype of 'zipcode' to object
zipcode['zipcode'] = zipcode['zipcode'].astype(int) 

# merge 2 df to have City in our dataset
data = data.merge(zipcode,how='left',on='zipcode')
data

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,lat,long,sqft_living15,sqft_lot15,price,state_fips,state,state_abbr,county,city
0,7129300520,3,1,1180,5650,1.0,0,0,3,7,...,47.5112,-122.257,1340,5650,221900,53.0,Washington,WA,King,Tukwila
1,6414100192,3,2,2570,7242,2.0,0,0,3,7,...,47.7210,-122.319,1690,7639,538000,53.0,Washington,WA,King,Seattle
2,5631500400,2,1,770,10000,1.0,0,0,3,6,...,47.7379,-122.233,2720,8062,180000,53.0,Washington,WA,King,Kenmore
3,2487200875,4,3,1960,5000,1.0,0,0,5,7,...,47.5208,-122.393,1360,5000,604000,53.0,Washington,WA,King,Seattle
4,1954400510,3,2,1680,8080,1.0,0,0,3,8,...,47.6168,-122.045,1800,7503,510000,NaN,NaN,NaN,NaN,NaN
5,7237550310,4,4,5420,101930,1.0,0,0,3,11,...,47.6561,-122.005,4760,101930,1230000,53.0,Washington,WA,King,Redmond
6,1321400060,3,2,1715,6819,2.0,0,0,3,7,...,47.3097,-122.327,2238,6819,257500,53.0,Washington,WA,King,Federal way
7,2008000270,3,2,1060,9711,1.0,0,0,3,7,...,47.4095,-122.315,1650,9711,291850,53.0,Washington,WA,King,Des moines
8,2414600126,3,1,1780,7470,1.0,0,0,3,7,...,47.5123,-122.337,1780,8113,229500,53.0,Washington,WA,King,Burien
9,3793500160,3,2,1890,6560,2.0,0,0,3,7,...,47.3684,-122.031,2390,7570,323000,53.0,Washington,WA,King,Maple valley
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21587,7852140040,3,2,2270,5536,2.0,0,0,3,8,...,47.5389,-121.881,2270,5731,507250,53.0,Washington,WA,King,Snoqualmie
21588,9834201367,3,2,1490,1126,3.0,0,0,3,8,...,47.5699,-122.288,1400,1230,429000,53.0,Washington,WA,King,Seattle
21589,3448900210,4,2,2520,6023,2.0,0,0,3,9,...,47.5137,-122.167,2520,6023,610685,53.0,Washington,WA,King,Renton
21590,7936000429,4,4,3510,7200,2.0,0,0,3,9,...,47.5537,-122.398,2050,6200,1010000,53.0,Washington,WA,King,Seattle
21591,2997800021,3,2,1310,1294,2.0,0,0,3,8,...,47.5773,-122.409,1330,1265,475000,53.0,Washington,WA,King,Seattle
21592,263000018,3,2,1530,1131,3.0,0,0,3,8,...,47.6993,-122.346,1530,1509,360000,53.0,Washington,WA,King,Seattle
21593,6600060120,4,2,2310,5813,2.0,0,0,3,8,...,47.5107,-122.362,1830,7200,400000,53.0,Washington,WA,King,Burien
21594,1523300141,2,1,1020,1350,2.0,0,0,3,7,...,47.5944,-122.299,1020,2007,402101,53.0,Washington,WA,King,Seattle
21595,291310100,3,2,1600,2388,2.0,0,0,3,8,...,47.5345,-122.069,1410,1287,400000,53.0,Washington,WA,King,Issaquah
21596,1523300157,2,1,1020,1076,2.0,0,0,3,7,...,47.5941,-122.299,1020,1357,325000,53.0,Washington,WA,King,Seattle

In [12]:
data.dtypes

id                 int64
bedrooms           int64
bathrooms          int64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
price              int64
state_fips       float64
state             object
state_abbr        object
county            object
city              object
dtype: object

In [13]:
data.isnull().sum()

id                  0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront          0
view                0
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated        0
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
price               0
state_fips       1254
state            1254
state_abbr       1254
county           1254
city             1254
dtype: int64

In [18]:
pd.set_option('display.max_columns', 40)
null_rows = data[data.isnull().any(axis=1)]
print(null_rows['zipcode'].unique())

[98074 98030 98075 98077]

### Data Cleaning

In [7]:
pd.set_option('display.max_rows', 40)
pd.set_option('display.min_rows', 20)
pd.set_option('display.expand_frame_repr', True)

In [8]:
data['bathrooms'] = data['bathrooms'].apply(lambda x: int(round(x,0)))
data['bathrooms']

0        1
1        2
2        1
3        3
4        2
5        4
6        2
7        2
8        1
9        2
        ..
21587    2
21588    2
21589    2
21590    4
21591    2
21592    2
21593    2
21594    1
21595    2
21596    1
Name: bathrooms, Length: 21597, dtype: int64

In [9]:
data = data.drop('date', axis=1)
data

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,7129300520,3,1,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900
1,6414100192,3,2,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000
2,5631500400,2,1,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000
3,2487200875,4,3,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000
4,1954400510,3,2,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000
5,7237550310,4,4,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,1230000
6,1321400060,3,2,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,257500
7,2008000270,3,2,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,291850
8,2414600126,3,1,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,229500
9,3793500160,3,2,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,323000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21587,7852140040,3,2,2270,5536,2.0,0,0,3,8,2270,0,2003,0,98065,47.5389,-121.881,2270,5731,507250
21588,9834201367,3,2,1490,1126,3.0,0,0,3,8,1490,0,2014,0,98144,47.5699,-122.288,1400,1230,429000
21589,3448900210,4,2,2520,6023,2.0,0,0,3,9,2520,0,2014,0,98056,47.5137,-122.167,2520,6023,610685
21590,7936000429,4,4,3510,7200,2.0,0,0,3,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200,1010000
21591,2997800021,3,2,1310,1294,2.0,0,0,3,8,1180,130,2008,0,98116,47.5773,-122.409,1330,1265,475000
21592,263000018,3,2,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,360000
21593,6600060120,4,2,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,400000
21594,1523300141,2,1,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,402101
21595,291310100,3,2,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,400000
21596,1523300157,2,1,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,325000